.board {
    height: fit-content;
    width: fit-content;
    /* background-color: #282c34; */
    background-color: rgb(53, 82, 245);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 5px;
    padding: 10px;
}