canvas {
  width: 100%;
  height: 100vh;
  background-position: 400px;
  background-blend-mode: initial;
  background-repeat: no-repeat;
  background-size: 150%;
  background-color: #000;
  padding-top: 50px;
  position: fixed;
  width: 100%;
  height: 100%;
}

.star {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: #fff;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background:rgb(12, 176, 111);
}
.main-title h1{
  color: transparent;
  -webkit-text-stroke: #fff;
  -webkit-text-stroke-width: 1px;
  text-shadow: 2px 2px 10px #2962ff;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.2em;
  animation: flicker 0.5s ease-in-out infinite alternate;
  position: relative;
  text-transform: uppercase;
  text-align: center !important;
  font-family: "Share Tech", sans-serif;
  font-size: 7vmin;
  font-weight: 900;
}
.main-playGround{
  box-shadow: 0 0 20px 0 rgba(5, 16, 59, 0.3);
    background: linear-gradient(40deg,
            transparent 10%,
            rgba(5, 16, 59, 0.16) 60%,
            transparent 100%);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    border: 1.5px solid rgba(255, 255, 255, 0.08);
  margin: auto;
  width: 50vw;
}



.star {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: #fff;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #07183c; */
  box-shadow: 0 0 20px 0 rgba(5, 16, 59, 0.3);
    background: linear-gradient(40deg,
            transparent 10%,
            rgba(5, 16, 59, 0.16) 60%,
            transparent 100%);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1.5px solid rgba(255, 255, 255, 0.08);
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-reset {
  width: 200px;
  height: 50px;
  margin: 5px auto;
  font-weight: bold;
  font-size: 1.3em;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  color: aliceblue;
}

.btn-reset:hover {
  cursor: pointer;
}
