.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background:rgb(12, 176, 111);
}
.main-title {
  font-family: "Orbitron", sans-serif;
  font-size: max(30px, 6vmin);
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-playGround{
  box-shadow: 0 0 20px 0 rgba(5, 16, 59, 0.3);
    background: linear-gradient(40deg,
            transparent 10%,
            rgba(5, 16, 59, 0.16) 60%,
            transparent 100%);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1.5px solid rgba(255, 255, 255, 0.08);
  margin: auto;
  width: 50vw;
  height: 50vh;
}